<% provide(:title, "Login in") %>
<h1>Sign in</h1>

<div class="row">
    <% if flash[:error] %>
      <div id="error_explanation">
        <%= flash[:error] %>
      </div>
    <% end %>
  <div class="login_form">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %> <br>
      <%= f.text_field :email %>
      <br>
      <%= f.label :password %> <br>
      <%= f.password_field :password %>

      <%= f.submit "Log In" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
